@charset "UTF-8";

table {
	border: 1px solid;
	width: 100%;
	border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th{
	border-width:1px !important;
	text-align: center;
}

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 25% !important;
    margin-bottom: 5%;
    margin-left: 10%;
}

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 25% !important;
    margin-bottom: 5%;
    margin-left: 10%;
}

}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 25% !important;
    margin-bottom: 5%;
    margin-left: 10%;
}

}