@charset "UTF-8";

table {
	box-shadow: 5px 8px 6px #00000029;
	width: 100%;
	border-collapse: collapse;
}

/* thead, */
/* tbody, */
/* tfoot, */
/* tr, */
/* td, */
/* th{ */
/* 	border-width:1px !important; */
/* 	text-align: center; */
/* } */

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 35% !important;
    margin-bottom: 5%;
    margin-left: 10%;
}

#member_update_table {
	width: 70%;
	margin: 0 auto;
}

#member_update_table tr td > label {
	float: left;
}

#member_update_table input {
	width: 100%;
}

#member_update_table input#year {
	width: 30%;
}

#member_update_table #gender {
	width: 100%;
}

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 45% !important;
    margin-bottom: 5%;
}

#member_update_table {
	width: 80%;
	margin: 0 auto;
}

#member_update_table tr td > label {
	float: left;
}

#member_update_table input {
	width: 100%;
}

#member_update_table input#year {
	width: 30%;
}

#member_update_table #gender {
	width: 100%;
}
}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#content h4 {
	border-bottom: 1px solid;
    width: 75% !important;
    margin-bottom: 5%;
}

#member_update_table {
	width: 80%;
	margin: 0 auto;
}

#member_update_table tr td > label {
	float: left;
}

#member_update_table input {
	width: 100%;
}

#member_update_table input#year {
	width: 30%;
}

#member_update_table #gender {
	width: 100%;
}

#member_table {
	font-size: 10px;
}

}