@charset "UTF-8";

table {
	width: 100%;
	border-collapse: collapse;
}

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 55% !important;
    margin: 5% 25%;
}

#join_table {
	width: 50%;
	margin: 0 auto;
}

#join_table tr td > label {
	float: left;
}

#join_table input {
	
	width: 100%;
}

#join_table input#year{
	width: 30%;
}

#join_table #gender {
	width: 100%;
}

.table_btn {
	text-align: center;
	margin: 5% 0;
}

.table_btn button {
	margin: 0 3%;
	width: 20%;
}

.table_btn .insert {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.table_btn .list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

#content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#content h4 {
    width: 80% !important;
    margin: 5% 15%;
}

#join_table {
	width: 70%;
	margin: 0 auto;
}

#join_table tr td > label {
	float: left;
}

#join_table input {
	
	width: 100%;
}

#join_table input#year{
	width: 30%;
}

#join_table #gender {
	width: 100%;
}

.table_btn {
	text-align: center;
	margin: 5% 0;
}

.table_btn button {
	margin: 0 3%;
	width: 30%;
}

.table_btn .insert {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.table_btn .list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {

#content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#content h4 {
    width: 100% !important;
    margin: 5% 0;
}

#join_table {
	width: 100%;
	margin: 0 auto;
}

#join_table tr td > label {
	float: left;
}

#join_table input {
	
	width: 100%;
}

#join_table input#year{
	width: 30%;
}

#join_table #gender {
	width: 100%;
}

.table_btn {
	text-align: center;
	margin: 5% 0;
}

.table_btn button {
	margin: 0 3%;
	width: 40%;
}

.table_btn .insert {
	background-color: brown;
	color: #fff;
	border: none;
	border-radius: 5%;
}

.table_btn .list {
	background-color: orange;
	color: #fff;
	border: none;
	border-radius: 5%;
}

}