@charset "UTF-8";
.input_id{
	float: left;
	width: 60%;
	margin: 1% 0;
}
.login_image{
	float:left;
	width:15%;
	height:30px;
	background-size: cover;
}
.main_login_button{
	float: right;
	width : 35%;
	height : 60px;
	background-color: brown;
	margin-left : 10px;
	color : white;
	border-radius: 10px;
	border:none;
}
.logout-button{
	background-color: brown;
	color : white;
	border-radius: 5px;
	border:none;
}
.mypage-button{
	border: none;
	background-color: orange;
	color: #fff;
	border-radius: 5px;
}
.reservation-button{
	border: none;
	background-color: orange;
	color: #fff;
	border-radius: 5px;
}
.main_join_button{
	color : #000;
	margin: 0 5%;
	text-decoration: none;
	font-size: 0.8em;
}
.login-logo{
	float : left;
	width : 10%;
	height :25.5px;
	background-size: cover;
}

.easy_login{
	width: 80%;
	border: none;
	background-color: orange;
	color: #fff;
	border-radius: 5px;
}

td, th{
	text-align: center;
	border : 1px soild;
}

table{
	border : 1px soild;
	border-collapse: collapse;
	width:100%;
}
.card-img-top{
	height:400px;
	background-size: cover;
}

thead,
tbody,
tfoot,
tr,
td,
th{
	border-width:1px !important;
	text-align: center;
}
.side-image {
	width: 100%;
	background-size :cover;
}

li {
	list-style: none;
}

.new_notice a, .new_board a, .new_news a{
	text-decoration: none;
	color: #000;
}

.new_notice li, .new_board li, .new_news li{
	text-align: left;
}

.new_notice, .new_board, .new_news{
	padding-left: 15px;
}

/*-----------------------------------------------------------------------

 								PC 
 								
 ------------------------------------------------------------------------*/
@media (min-width : 767.9999px) {

}

/*-----------------------------------------------------------------------

 								tablet 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 767.9998px) {

}
/*-----------------------------------------------------------------------

 								mobile 
 								
 ------------------------------------------------------------------------*/
@media (max-width : 425.9998px) {
	.logout-button {
		width : 100%;	
	}
}