<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.adminboard">
	
	<select id="limitList" resultType="com.web.f5.vo.AdminBoardVO">
		select rno, boardIdx, memberId, boardTitle, boardContent, boardDate, boardCategory
		from
			(select rownum rno, boardIdx, memberId, boardTitle, boardContent, to_char(boardDate,'yyyy-mm-dd') boardDate, boardCategory
		from
			(select boardIdx, memberId, boardTitle, boardContent, boardDate, boardCategory from board order by boardDate desc) where boardCategory = '0')
		where
			rno &lt; 4
	</select>
	
	<select id="count" resultType="int">
		select count(*) from board where boardCategory = 0
	</select>
	
	<select id="list" parameterType="map" resultType="com.web.f5.vo.AdminBoardVO">
		select rno, boardIdx, memberId, boardTitle, boardHits, boardDate, boardCategory
		from
			(select rownum rno, boardIdx, memberId, boardTitle, boardHits, to_char(boardDate,'yyyy-mm-dd') boardDate, boardCategory
		from
			(select boardIdx, memberId, boardTitle, boardHits, boardDate, boardCategory from board order by boardDate desc))
		where
			(rno between #{start} and #{end}) and (boardCategory = '0')
	</select>
	
	<select id="boardContent" parameterType="java.lang.String" resultType="com.web.f5.vo.AdminBoardVO">
		select boardIdx, memberId, boardTitle, boardContent, boardHits, boardDate, boardCategory
		from
			board
		where
			boardIdx = #{boardIdx}
	</select>
	
	<insert id="boardInsert" parameterType="com.web.f5.vo.AdminBoardVO">
		insert into board
		(
			boardIdx,
			memberId,
			boardHits,
			boardTitle,
			boardContent,
			boardDate,
			boardUpdateDate,
			boardCategory
		)
		values
		(
			sequ_board_boardIdx.nextval,
			#{memberId},
			0,
			#{boardTitle},
			#{boardContent},
			sysdate,
			null,
			0
		)
	</insert>
	
	<update id="boardUpdate" parameterType="com.web.f5.vo.AdminBoardVO">
		update board
		set
			boardTitle = #{boardTitle},
			boardContent = #{boardContent},
			boardUpdateDate = sysdate,
			boardCategory = 0
		where
			boardIdx = #{boardIdx}
	</update>
	
	<delete id="boardDelete" parameterType="java.lang.String">
		delete from board
		where
			boardIdx = #{boardIdx}
	</delete>
	
</mapper>