<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.member">

	
	<!-- 회원 탈퇴 수정 -->
	<update id="status1" parameterType="java.lang.String">
		update cgv_member set join_status=1 where id=#{id}
	</update>
	<update id="status2" parameterType="java.lang.String">
		update cgv_member set join_status=0 where id=#{id}
	</update>
	
	<!-- 회원 상세정보 -->
	<select id="content" parameterType="java.lang.String" resultType="com.web.vo.CgvMemberVO">
		select id, name, gender, hobbylist, hp, join_status 
			from cgv_member where id=#{id}
	</select>
	
	<!-- 회원전체 수 -->
	<select id="count" resultType="int">
		select count(*) from cgv_member
	</select>
	
	<!-- 회원 전체 리스트 -->
	<select id="list" parameterType="map" resultType="com.web.vo.CgvMemberVO">
		select rno, id, name, hp, gender, mdate, join_status
				 from (select rownum rno, id, name, hp, gender, to_char(mdate,'yyyy-mm-dd') mdate, join_status
				 from (select id, name, hp, gender, mdate, join_status from cgv_member
				 order by mdate desc)
				) where rno between #{start} and #{end}
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="com.web.vo.CgvMemberVO" resultType="int">
		select count(*) from cgv_member where id=#{id} and pass=#{pass}
	</select>
	
	<!-- 회원 가입시 아이디 중복체크 -->
	<select id="id_check" parameterType="java.lang.String" resultType="int">
		select count(*) from cgv_member where id=#{id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert" parameterType="com.web.vo.CgvMemberVO">
		insert into cgv_member 
			values(#{id},#{pass},#{name},#{gender},#{email},#{hp},#{hobbylist},#{intro},sysdate,0)
	</insert>
	
</mapper>